.error {
  background: var(--error-color);
  color: var(--light-color);
  margin-top: 10px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}